//
//  Secrets.xcconfig
//  WeatherApp
//
//  Created by Guillaume Fleury on 2025/06/22.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project
// 1. Copy `Secrets.xcconfig.base` to `Secrets.xcconfig`
// 2. Add your API key and other secrets
WEATHER_API_KEY =
